extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li
        a(href="/locations") Locations
      li.active
        a(href="/locations/new") New
      form(method="POST")
        .form-group
          label(for="nombre") Nombre
          input.form-control#nombre(type="text",placeholder="nombre",name="nombre",value="#{(locations?locations.nombre:'')}")
        .form-group
          label(for="lat") Lat
          input.form-control#lat(type="text",placeholder="lat",name="lat",value="#{(locations?locations.lat:'')}")
        .form-group
          label(for="lon") Lon
          input.form-control#lon(type="text",placeholder="lon",name="lon",value="#{(locations?locations.lon:'')}")
        .form-group
          label(for="accuweatherId") AccuweatherId
          input.form-control#accuweatherId(type="number",placeholder="accuweatherId",name="accuweatherId",value="#{(locations?locations.accuweatherId:'')}")
        .form-group
          label(for="accuData") AccuData
          input.form-control#accuData(type="text",placeholder="accuData",name="accuData",value="#{(locations?locations.accuData:'')}")
        .form-group
          label(for="googleData") GoogleData
          input.form-control#googleData(type="text",placeholder="googleData",name="googleData",value="#{(locations?locations.googleData:'')}")
        .form-group
          label(for="consultas") Consultas
          input.form-control#consultas(type="number",placeholder="consultas",name="consultas",value="#{(locations?locations.consultas:'')}")
        button.btn.btn-primary(type="submit") Accept 
        if locations
          a(href="/locations/#{locations._id}/delete").btn.btn-danger Delete