extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li.active
        a(href="/locations") Locations
      li
        a(href="/locations/new") New
    table#tRows.table
      tr
        td(colspan=8)#tTitle #{title}
      tr
      td _id
      td nombre
      td lat
      td lon
      td accuweatherId
      td accuData
      td googleData
      td consultas
      each el in locations
        tr
        td
          a(href="/locations/#{el._id}") #{el._id}
        td= el.nombre
        td= el.lat
        td= el.lon
        td= el.accuweatherId
        td= el.accuData
        td= el.googleData
        td= el.consultas