extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li.active
        a(href="/request") Request
      li
        a(href="/request/new") New
    table#tRows.table
      tr
        td(colspan=6)#tTitle #{title}
      tr
      td _id
      td text
      td date
      td analysis
      td action
      td feedback
      each el in request
        tr
        td
          a(href="/request/#{el._id}") #{el._id}
        td= el.text
        td= el.date
        td= el.analysis
        td= el.action
        td= el.feedback