extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li
        a(href="/request") Request
      li.active
        a(href="/request/new") New
      form(method="POST")
        .form-group
          label(for="text") Text
          input.form-control#text(type="text",placeholder="text",name="text",value="#{(request?request.text:'')}")
        .form-group
          label(for="date") Date
          input.form-control#date(type="date",placeholder="date",name="date",value="#{(request?request.date:'')}")
        .form-group
          label(for="analysis") Analysis
          input.form-control#analysis(type="text",placeholder="analysis",name="analysis",value="#{(request?request.analysis:'')}")
        .form-group
          label(for="action") Action
          input.form-control#action(type="text",placeholder="action",name="action",value="#{(request?request.action:'')}")
        .form-group
          label(for="feedback") Feedback
          input.form-control#feedback(type="number",placeholder="feedback",name="feedback",value="#{(request?request.feedback:'')}")
        button.btn.btn-primary(type="submit") Accept 
        if request
          a(href="/request/#{request._id}/delete").btn.btn-danger Delete