extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li
        a(href="/todo") Todo
      li.active
        a(href="/todo/new") New
      form(method="POST")
        .form-group
          label(for="text") Text
          input.form-control#text(type="text",placeholder="text",name="text",value="#{(todo?todo.text:'')}")
        .form-group
          label(for="done") Done
          input.form-control#done(type="number",placeholder="done",name="done",value="#{(todo?todo.done:'')}")
        .form-group
          label(for="date") Date
          input.form-control#date(type="date",placeholder="date",name="date",value="#{(todo?todo.date:'')}")
        .form-group
          label(for="alarm") Alarm
          input.form-control#alarm(type="number",placeholder="alarm",name="alarm",value="#{(todo?todo.alarm:'')}")
        button.btn.btn-primary(type="submit") Accept 
        if todo
          a(href="/todo/#{todo._id}/delete").btn.btn-danger Delete