extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li.active
        a(href="/todo") Todo
      li
        a(href="/todo/new") New
    table#tRows.table
      tr
        td(colspan=5)#tTitle #{title}
      tr
      td _id
      td text
      td done
      td date
      td alarm
      each el in todo
        tr
        td
          a(href="/todo/#{el._id}") #{el._id}
        td= el.text
        td= el.done
        td= el.date
        td= el.alarm